<a href="https://colab.research.google.com/github/pratiwikistya25/psds-5.0-dasar/blob/main/tugas_psds2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Operator

Operator simbol-simbol yang dapat digunakan untuk mengubah nilai dari suatu variabel dengan melibatkan satu atau lebih variabel dan literal. Tipe-tipe operator:
1. Operator Aritmatika

2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membersip

##Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi aritmatika yang umum. Macam macam Operator Aritmatika, yaitu:

\+ : Penjumlahan

\- : Pengurangan

\* : Perkalian

\/ : Pembagian

\% : Modulus

\** : Perpangkatan

\// : Pembagian dengan pembulatan flooring

##Contoh Penggunaan Operator Aritmatika

In [ ]:
# Penjumlahan
print('penjumlahan')
print(2+2)
#Pengurangan
print('pengurangan')
print('-'*20)
print(2-3)
#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)
#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)
#Modulus
print('Modulus')
print('-'*20)
print(3%2)
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian dengan hasil pembulatan flooring')
print('-'*20)
print(3//2)

penjumlahan
4
pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian dengan hasil pembulatan flooring
--------------------
1

##Latihan Operator 1

Buatlah Program penerapan operator Aritmatika dengan nilai-nilai yang berbeda dari contoh diatas

In [ ]:
# Penjumlahan
print('penjumlahan')
print(5+4)
#Pengurangan
print('pengurangan')
print('-'*20)
print(5-4)
#Perkalian
print('Perkalian')
print('-'*20)
print(5*4)
#Pembagian
print('Pembagian')
print('-'*20)
print(5/4)
#Modulus
print('Modulus')
print('-'*20)
print(5%4)
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(5**4)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian dengan hasil pembulatan flooring')
print('-'*20)
print(5//4)

penjumlahan
9
pengurangan
--------------------
1
Perkalian
--------------------
20
Pembagian
--------------------
1.25
Modulus
--------------------
1
Perpangkatan
--------------------
625
Pembagian dengan hasil pembulatan flooring
--------------------
1

##Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

\= : Contohnya x = 5 -> x = 5

\+= : Contohnya x = x + 5 -> x += 5

\-= : Contohnya x = x-5 -> x -= 5

\*= : Contohnya x = x * 5 -> x *= 5

\/= : Contohnya x = x / 5 -> x /= 5

\%= : Contohnya x = x % 5 -> x %= 5

\//= : Contohnya x = x // 5 -> x //= 5

\** = : Contohnya x = x ** 5 -> x **= 5

## Contoh Penggunaan Operator Assignment

In [ ]:
#Penjumlahan
print('Penjumlahan')
x= 5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x= 5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x= 5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x= 5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x= 5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Floorinf')
x= 5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x= 5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
Pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Floorinf
1
1
--------------------
Perpangkatan
3125
125
--------------------

## Latihan Operator 2

Buatlah program penerapan operator assignment dengan nilai-nilai yang berbeda dari contoh diatas

In [ ]:
#Penjumlahan
print('Penjumlahan')
x= 3
x=x+3
print(x)
x=3
x+=4
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x= 4
x=x-3
print(x)
x=3
x-=4
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x= 4
x=x*3
print(x)
x=4
x*=3
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x= 4
x=x/3
print(x)
x=3
x/=4
print(x)
print('-'*20)

#Modulus
print('Modulus')
x= 4
x=x%3
print(x)
x=4
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Floorinf')
x= 4
x=x//3
print(x)
x=3
x//=4
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x= 4
x=x**4
print(x)
x=3
x**=4
print(x)
print('-'*20)

Penjumlahan
6
7
--------------------
Pengurangan
1
-1
--------------------
Perkalian
12
12
--------------------
Pembagian
1.3333333333333333
0.75
--------------------
Modulus
1
1
--------------------
Pembagian Floorinf
1
0
--------------------
Perpangkatan
256
81
--------------------

## Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel macam-macam operator pembanding:

\== -> samadengan

\!= -> tidak samadengan

\> -> lebih dari

\< -> kurang dari

\>= -> lebih dari dan samadengan

\<= -> kurang dari dan samadengan

## Contoh penggunaan operator pembanding

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

## Latihan Operator 3

Buatlah program penerapan operator pembanding dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
print(7==8)
print(7!=8)
print(7>8)
print(7<8)
print(7>=8)
print(7<=8)

False
True
False
True
False
True

## Operator Logika

Operator logika digunakan untuk mengkombinasikan statement statement kondisional. Macam-macam Operator logika:

```
and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil dari benar ke salah dan salah ke benar
```

## Contoh penggunaan operator logika

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

## Latihan Operator 4

Buatlah program penerapan operator logika dengan nilai nilai yang berbedaa dari contoh diatas

In [ ]:
print(True and True)
print(True or False)
print(not True and True)

True
True
False

## Operator Membership/Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek. Macam-macam operator Keanggotaan:

```
in -> return True ketika nilai tertentu dalam sebuah urutan ada
not in -> return ketika nilai tertentu dalam sebuah urutan tidak ada
```

## Contoh penggunaan operator keanggotaan

In [ ]:
a=(1,2,3,4,5,6)
b=2

print(b in a)

print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

## Latihan operator 5

Buatlah program penerapan operator keanggotaan membership dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
a=(1,2,3,4,5,6)
b=0
print(b in a)

print('-'*20)
a=(1,2,3,4,5,6)
b=6
print(b not in a)

False
--------------------
False

## Variabel

Variabel : Lokal penyimpanan yang dpaat digunakan untuk menampung sebuah data atau informasi. Syarat-syarat penamaan variabel

1. Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscrore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1= 4
bilangan2= 2.5
bilangan3= True
bilangan4= 1j+4

#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

##  Latihan 1

Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel menggunakan fungsi print

In [ ]:
# membuat variabel
variabel1 = False
variabel2= 0.3
variabel3= 2j+5
variabel4= 1
variabel5= 'Saya sedang belajar python'

#menampilkan variabel
print(variabel1)
print(variabel2)
print(variabel3)
print(variabel4)
print(variabel5)

False
0.3
(5+2j)
1
Saya sedang belajar python

 ## **Tipe Data & Konversi Tipe Data**

## Tipe Data

5 tipe data yaitu:
1. integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
#Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Latihan 2

Cek tipe data variabel yang telah kalian buat pada latihan 1

In [ ]:
# membuat variabel
variabel1 = False
variabel2= 0.3
variabel3= 2j+5
variabel4= 1
variabel5= 'Saya sedang belajar python'

#menampilkan variabel
print(type(variabel1))
print(type(variabel2))
print(type(variabel3))
print(type(variabel4))
print(type(variabel5))

<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'str'>

## Konversi Tipe Data

In [ ]:
#Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

#Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

#Konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

#Konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

#Konversi tipe data compleks
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)

##Latihan 3

Konversi tipe data yang telah kalian buat menjadi berbagai macam tipe data

In [ ]:
#Konversi tipe data integer
print(int(variabel1))
print(int(variabel2))
print(int(variabel4))

print('-'*20)

#Konversi tipe data float
print(float(variabel1))
print(float(variabel2))
print(float(variabel4))

print('-'*20)

#Konversi tipe data string
print(str(variabel1))
print(str(variabel2))
print(str(variabel3))
print(str(variabel4))
print(str(variabel5))

print('-'*20)

#Konversi tipe data bool
print(bool(variabel1))
print(bool(variabel2))
print(bool(variabel3))
print(bool(variabel4))
print(bool(variabel5))

print('-'*20)

#Konversi tipe data compleks
print(complex(variabel1))
print(complex(variabel2))
print(complex(variabel3))
print(complex(variabel4))

0
0
1
--------------------
0.0
0.3
1.0
--------------------
False
0.3
(5+2j)
1
Saya sedang belajar python
--------------------
False
True
True
True
True
--------------------
0j
(0.3+0j)
(5+2j)
(1+0j)